<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>186584569044-0p6an10h25e2b3k988i8eikvp76en4bt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186584569044-0p6an10h25e2b3k988i8eikvp76en4bt</string>
	<key>API_KEY</key>
	<string>AIzaSyBAJWQu-VGlgotodcMi55jk0lMFsHJxPm0</string>
	<key>GCM_SENDER_ID</key>
	<string>186584569044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.youtubeClone</string>
	<key>PROJECT_ID</key>
	<string>clone-93b37</string>
	<key>STORAGE_BUCKET</key>
	<string>clone-93b37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186584569044:ios:f0523dfd6a9a3f0b335741</string>
</dict>
</plist>